.dropup,.dropdown {
	position: relative;
	font-size: 14px;
	&.open{
		.dropdown-menu{
			display: block !important;
			.dropdown-header {
	    		padding: 8px 20px;
	    	}
		}
	}
}
.app-header{
	.navbar{ 
		.dropdown-menu {
		    padding-bottom: 0;
		    line-height: 1.5;
		}
	}
	.navbar-nav{
		.dropdown-menu {
		    position: absolute;
		    float: none;
		}
		.dropdown-menu-right {
		    right: 0;
		    left: auto;
	    }
	}
}