.app, app-dashboard, app-root {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}
.header-fixed{ 
	.app-header {
	    position: fixed;
	    z-index: 1020;
	    width: 100%;
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 55px;
	    -ms-flex: 0 0 55px;
	    flex: 0 0 55px;
	    &.navbar {
		    height: 50px;
		    padding: 0;
		    margin: 0;
		    background-color: #fff;
		    border-bottom: 1px solid #c2cfd6;
		    .navbar-brand {
			    display: inline-block;
			    width: 155px;
			    height: 48px;
			    padding: 0.5rem 1rem;
			    margin-right: 0;
			    background-color: #fff;
			    background-image: url(../images/logo.png);
			    background-repeat: no-repeat;
			    background-position: center center;
			    background-size: 130px auto;
			}
			.dropdown-menu {
			    padding-bottom: 0;
			    line-height: 1.5;
			    float: none;
			    position: absolute;
			    top: 100%;
			    left: 0;
			    z-index: 1000;
			    display: none;
			    float: left;
			    min-width: 10rem;
			    padding: 0 0;
			    margin: 0.125rem 0 0;
			    font-size: 0.875rem;
			    color: #151b1e;
			    text-align: left;
			    list-style: none;
			    background-color: #fff;
			    background-clip: padding-box;
			    border: 1px solid #c2cfd6;
			    font-size: 14px;
			    .dropdown-header {
				    padding: 8px 20px;
				    background: #f0f3f5;
				    border-bottom: 1px solid #c2cfd6;
				    display: block;
				    margin-bottom: 0;
				    font-size: 0.875rem;
				    color: #536c79;
				    white-space: nowrap;
				}
				.dropdown-item {
					    display: block;
				    width: 100%;
				    padding: 0.25rem 1.5rem;
				    clear: both;
				    font-weight: normal;
				    color: #151b1e;
				    text-align: inherit;
				    white-space: nowrap;
				    background: none;
				    position: relative;
				    padding: 10px 20px;
				    border-bottom: 1px solid #c2cfd6;
				    min-width: 150px;
				    &:hover{
				    	background: $background-color;
				    }
				 }
			}
			.navbar-toggler {
			    padding: 0.25rem 0.75rem;
			    font-size: 1.25rem;
			    line-height: 1;
			    background: transparent;
			    border: 1px solid transparent;
			}
			.navbar-nav{
				-webkit-box-orient: horizontal;
			    -webkit-box-direction: normal;
			    -webkit-flex-direction: row;
			    -ms-flex-direction: row;
			    flex-direction: row;
			    -webkit-box-align: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			     .dropdown-toggle{
			     	@include padding-lr(0px,0px);
			     }
			     .dropdown-menu-right {
			     	position: absolute;
			     	top: 48px;
				    right: 15px;
				    left: auto;
				  }
			}
			.ml-auto {
			    float: right;
			}
			.nav-item{
			    padding-right: 20px;
			    position: relative;
			    min-width: 50px;
			    text-align: center;
			    .nav-link{
			    	padding-top: 0;
				    padding-bottom: 0;
				    padding-right: 0;
    				padding-left: 0;
				    background: 0;
				    border: 0;
				    font-size: $font-14;
				    color: #536c79;
				    display: block;
				    &.dropdown-toggle{
				    	padding-top: 0;
					    padding-bottom: 0;
					    padding-right: 0;
	    				padding-left: 0;
					    background: 0;
					    border: 0;
					    color: #536c79;
					    disply: block;
					    &::after{
						    display: inline-block;
						    width: 0;
						    height: 0;
						    margin-left: 0.255em;
						    vertical-align: 0.255em;
						    content: "";
						    border-top: 0.3em solid;
						    border-right: 0.3em solid transparent;
						    border-left: 0.3em solid transparent;
					    }
				    }
			    }
			    .btn{
				   	@include padding-tb(2px,2px);
				   	@include margin-t(10px);
				}
			}
			.img-avatar{
				width: 35px;
				height: 35px;
				margin: 10px 10px;
				border-radius: 100%;
			}
			.px-3{
				padding-right: 1rem !important;
    			padding-left: 1rem !important;
    			@include margin-t(17px);
			}
			.sidebar-toggler{
				float: left;
				line-height:45px;
				font-size: $font-24;
				outline: none;
			}
			.dropdown-toggle{
				display: block;
			}
		}
    }
}
.app-header, .app-footer, .sidebar, .main, .aside-menu {
    -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
    -o-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s, -ms-flex 0.25s;
}