.form-group{
	@include margin-b(10px);
	.form-control{
		outline: none;
		box-shadow: none;
		height:26px;
		@include padding-all-alt(0px,10px);
		&textarea{
			min-height: 40px !important;
		}
		&.form-rounded {
	        @include padding-lr(10px,10px);
	        border-radius: 30px;
	    }
	}
	textarea{
		min-height:70px;
	}
	.form-label{
		@include margin-all(0);
		font-weight: normal;
		color: $color-light;
		line-height: 26px;
	}
	.custom-checkbox {
	    position: absolute;
	    display: none;
	    + label{
	    	position: relative;
		    display: inline-block;
		    @include padding-tb(0px, 0px);
		    @include padding-lr(20px, 20px);
		    cursor: pointer;
		    vertical-align: middle;
		    height: 26px;
		    line-height: 24px;
		    color: $color-light;
		    &:hover {
		        &:before {
		            animation-duration: 0.4s;
		            animation-fill-mode: both;
		            animation-name: hover-color;
		        }
		    }
		    &:before {
		        position: absolute;
		        top: 0px;
		        left: 0;
		        display: inline-block;
		        width: 16px;
		        height: 16px;
		        content: '';
		        border: 1px solid $border-light;
		        background-color: $form-background;
		    }
		    &:after {
		        position: absolute;
		        display: none;
		        content: '';
		    }
		    &.cr-auto {
		        height: auto;
		        display: inline;
		        &:before {
		            top: 0;
		        }
		        &:after {
		            top: 0px;
		        }
		    }
	    }
	}
}
.custom-checkbox:checked+label {
    &:before {
        animation-name: none;
    }
    &:after {
        display: block;
    }
}
.custom-checkbox:indeterminate + label {
    &:before {
        border-color: $primary-color;
        content: "-";
        color: $primary-color;
        font-size: $font-26;
        text-align: center;
    }   
}
.custom-checkbox+label {
    &:before {
        border-radius: 3px;
        top: 4px;
    }
    &:after {
        top: 4px;
        left: 5px;
        box-sizing: border-box;
        width: 6px;
        height: 12px;
        transform: rotate(45deg);
        border-width: 2px;
        border-style: solid;
        border-color: $color-white;
        border-top: 0;
        border-left: 0;
    }
}
.custom-checkbox:checked+label {
    &:before {
        border: $primary-color;
        background: $primary-color;
    }
}
.form-horizontal{
	.checkbox{
		@include padding-t(3px);
	}
	.form-control{
		@include margin-all(0);
	}
}
.default-project{
	@include padding-all-alt(3px,8px);
	display: inline-block;
    height: 25px;
    font-size: $font-12;
    line-height: 1.42857143;
    color: #555;
    background-color: $color-white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
    &:focus{
    	outline:none;
    }
}
.view-title{
	color: $color-light;
}
.alert{
	@include padding-all(5px);
	@include margin-t(10px);
}
