.header-fixed{
	.app-body {
	    margin-top: 50px;
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
	    -webkit-box-flex: 1;
	    -webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    overflow-x: hidden;
    }
    &.sidebar-fixed{ 
	    -webkit-box-flex: 0;
	    -webkit-flex: 0 0 200px;
	    -ms-flex: 0 0 200px;
	    flex: 0 0 200px;
	    -webkit-order: -1;
	    -ms-flex-order: -1;
	    order: -1;
	    .sidebar {
		    position: fixed;
		    width: 200px;
		    height: 100%;
		    -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
		    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
		    -o-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
		    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
		    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s, -ms-flex 0.25s;
		    padding: 0;
		    overflow: hidden;
		    color: #fff;
		    background: $blue-color;
		    .sidebar-nav {
			    height: calc(100vh - 55px);
			    position: relative;
			    overflow-x: hidden;
			    overflow-y: auto;
			    -ms-overflow-style: -ms-autohiding-scrollbar;
			    width: 200px;
			}
			.nav{
				width: 200px;
			    -webkit-box-orient: vertical !important;
			    -webkit-box-direction: normal !important;
			    -webkit-flex-direction: column !important;
			    -ms-flex-direction: column !important;
			    flex-direction: column !important;
			    .nav-item{
			    	position: relative;
				    margin: 0;
				    -webkit-transition: background .3s ease-in-out;
				    -o-transition: background .3s ease-in-out;
				    transition: background .3s ease-in-out;
				    .nav-link{
				    	display: block;
					    padding: 0.75rem 1rem;
					    color: #fff;
					    text-decoration: none;
					    background: transparent;
					    font-size: 16px;
					    &:hover{
					    	color: #fff !important;
    						background: #20a8d8 !important;
					    }
				    }
				    &.active{
				    	color: #fff !important;
    					background: #20a8d8 !important;
				    }
			    }
			}
	    }
	    &.sidebar-hidden {
		    .main, .app-footer {
		      margin-left: 0;
		    }
		}
	}
}
.sidebar-hidden {

  .sidebar {
    margin-left: - 200px;
  }
}