//mixins
//paddings
@mixin padding-all($padding-all) {
    padding: $padding-all;
}
@mixin padding-all-alt($padding-tb, $padding-lr) {
    padding: $padding-tb $padding-lr;
}
@mixin padding-t($padding-top) {
    padding-top: $padding-top;
}
@mixin padding-r($padding-right) {
    padding-right: $padding-right;
}
@mixin padding-b($padding-bottom) {
    padding-bottom: $padding-bottom;
}
@mixin padding-l($padding-left) {
    padding-left: $padding-left;
}
@mixin padding-tb($padding-t, $padding-b) {
    padding-top: $padding-t;
    padding-bottom: $padding-b;
}
@mixin padding-lr($padding-l, $padding-r) {
    padding-left: $padding-l;
    padding-right: $padding-r;
}

//margins
@mixin margin-all($margin-all) {
    margin: $margin-all;
}
@mixin margin-all-alt($margin-tb, $margin-lr) {
    margin: $margin-tb $margin-lr;
}
@mixin margin-t($margin-top) {
    margin-top: $margin-top;
}
@mixin margin-r($margin-right) {
    margin-right: $margin-right;
}
@mixin margin-b($margin-bottom) {
    margin-bottom: $margin-bottom;
}
@mixin margin-l($margin-left) {
    margin-left: $margin-left;
}
@mixin margin-tb($margin-t, $margin-b) {
    margin-top: $margin-t;
    margin-bottom: $margin-b;
}
@mixin margin-lr($margin-l, $margin-r) {
    margin-left: $margin-l;
    margin-right: $margin-r;
}

//transitions
@mixin transition($trans-time) {
    -webkit-transition: all $trans-time ease-in;
    -moz-transition: all $trans-time ease-in;
    -o-transition: all $trans-time ease-in;
    transition: all $trans-time ease-in;
}
@mixin transition-ease-in-out($trans-time) {
    -webkit-transition: all $trans-time ease-in-out;
    -moz-transition: all $trans-time ease-in-out;
    -o-transition: all $trans-time ease-in-out;
    transition: all $trans-time ease-in-out;
}

//box-shadow
@mixin box-shadow($bs1, $bs2, $bs3, $bs4, $bs5) {
    -webkit-box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5;
    -moz-box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5;
    box-shadow: $bs1 $bs2 $bs3 $bs4 $bs5;
}

// transforms
@mixin transform-horizontal($tY1) {
    -webkit-transform: translateY($tY1);
    -moz-transform: translateY($tY1);
    -ms-transform: translateY($tY1);
    transform: translateY($tY1);
}