//normalize
* {
    text-shadow: none;
    font-weight: normal;
}
html,body {
    font-family: $font-medium;
    font-size: $font-12;
    font-weight: normal;
    @include margin-all(0px);
    background-color: $color-white;
    position: relative;
    height: 100%;
    overflow-y: hidden; 
    -webkit-font-smoothing: antialiased;
    .body-sign {
        overflow-y: auto;
    }
}
h1,h2,h3,h4,h5,h6,p,ul {
    @include margin-all(0px);
}
a {
    color: $blue-color;
    @include transition(200ms);
    cursor: pointer;
}
a:hover, a:focus {
    color: darken($blue-color,5%);
    text-decoration: none;
}

.height-auto {
    height: auto !important;
}

.min-height-auto {
    min-height: auto !important;
}

.max-height-auto {
    max-height: auto !important;
}

.width-auto {
    width: auto !important;
}

.min-width-auto {
    min-width: auto !important;
}

.max-width-auto {
    max-width: auto !important;
}

.list-inline {
    @include margin-all(0px);
}

.position-relative {
    position: relative;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}
.v-middle {
    vertical-align: middle;
}

.word-break {
    word-break: break-all;
}

.content-right{
    text-align: right !important;
}
.content-left{
    text-align: left !important;
}

//min height
.min-height-100 {
    min-height: 100px;
}

.min-height-150 {
    min-height: 150px;
}

.min-height-200 {
    min-height: 200px;
}

.min-height-250 {
    min-height: 250px;
}

//padding
.padding-0 {
    @include padding-all(0px !important);
}
.padding-5 {
    @include padding-all(5px !important);
}
.padding-10 {
    @include padding-all(10px !important);
}
.padding-15 {
    @include padding-all(15px !important);
}
.padding-20 {
    @include padding-all(20px !important);
}
.padding-0t {
    @include padding-t(0px !important);
}
.padding-5t {
    @include padding-t(5px !important);
}
.padding-10t {
    @include padding-t(10px !important);
}
.padding-15t {
    @include padding-t(15px !important);
}
.padding-20t {
    @include padding-t(20px !important);
}
.padding-25t {
    @include padding-t(25px !important);
}
.padding-30t {
    @include padding-t(30px !important);
}
.padding-35t {
    @include padding-t(35px !important);
}
.padding-40t {
    @include padding-t(40px !important);
}
.padding-100t {
    @include padding-t(100px !important);
}
.padding-0b {
    @include padding-b(0px !important);
}
.padding-5b {
    @include padding-b(5px !important);
}
.padding-10b {
    @include padding-b(10px !important);
}
.padding-15b {
    @include padding-b(15px !important);
}
.padding-20b {
    @include padding-b(20px !important);
}
.padding-25b {
    @include padding-b(25px !important);
}
.padding-30b {
    @include padding-b(30px !important);
}
.padding-0r {
    @include padding-r(0px !important);
}
.padding-5r {
    @include padding-r(5px !important);
}
.padding-10r {
    @include padding-r(10px !important);
}
.padding-15r {
    @include padding-r(15px !important);
}
.padding-20r {
    @include padding-r(20px !important);
}
.padding-25r {
    @include padding-r(25px !important);
}
.padding-30r {
    @include padding-r(30px !important);
}
.padding-0l {
    @include padding-l(0px !important);
}
.padding-5l {
    @include padding-l(5px !important);
}
.padding-10l {
    @include padding-l(10px !important);
}
.padding-15l {
    @include padding-l(15px !important);
}
.padding-20l {
    @include padding-l(20px !important);
}
.padding-25l {
    @include padding-l(25px !important);
}
.padding-30l {
    @include padding-l(30px !important);
}

//margin
.margin-0 {
    @include margin-all(0px !important);
}
.margin-5 {
    @include margin-all(5px !important);
}
.margin-10 {
    @include margin-all(10px !important);
}
.margin-15 {
    @include margin-all(15px !important);
}
.margin-20 {
    @include margin-all(20px !important);
}
.margin-0t {
    @include margin-t(0px !important);
}
.margin-5t {
    @include margin-t(5px !important);
}
.margin-10t {
    @include margin-t(10px !important);
}
.margin-15t {
    @include margin-t(15px !important);
}
.margin-17t {
    @include margin-t(17px !important);
}
.margin-20t {
    @include margin-t(20px !important);
}
.margin-25t {
    @include margin-t(25px !important);
}
.margin-30t {
    @include margin-t(30px !important);
}
.margin-0b {
    @include margin-b(0px !important);
}
.margin-5b {
    @include margin-b(5px !important);
}
.margin-10b {
    @include margin-b(10px !important);
}
.margin-15b {
    @include margin-b(15px !important);
}
.margin-20b {
    @include margin-b(20px !important);
}
.margin-25b {
    @include margin-b(25px !important);
}
.margin-30b {
    @include margin-b(30px !important);
}
.margin-0r {
    @include margin-r(0px !important);
}
.margin-5r {
    @include margin-r(5px !important);
}
.margin-10r {
    @include margin-r(10px !important);
}
.margin-15r {
    @include margin-r(15px !important);
}
.margin-20r {
    @include margin-r(20px !important);
}
.margin-25r {
    @include margin-r(25px !important);
}
.margin-30r {
    @include margin-r(30px !important);
}
.margin-0l {
    @include margin-l(0px !important);
}
.margin-5l {
    @include margin-l(5px !important);
}
.margin-10l {
    @include margin-l(10px !important);
}
.margin-15l {
    @include margin-l(15px !important);
}
.margin-20l {
    @include margin-l(20px !important);
}
.margin-25l {
    @include margin-l(25px !important);
}
.margin-30l {
    @include margin-l(30px !important);
}
//border
.border-0 {
    border: 0px !important;
}
.border-0t {
    border-top: 0px !important;
}
.border-0b {
    border-bottom: 0px !important;
}
.border-0r {
    border-right: 0px !important;
}
.border-0l {
    border-left: 0px !important;
}
.border-light{
    border: 1px solid $border-light;
    display: table;
    width: 100%;
}
//colors
.primary-color {
    color: $primary-color !important;
}
.blue-color {
    color: $blue-color !important;
}
.seagreen-color {
    color: $seagreen-color !important;    
}
.orange-color {
    color: $orange-color !important;    
}
.red-color {
    color: $red-color !important;    
}
.green-color {
    color: $green-color !important;    
}
.white-color {
    color: $color-white !important;
}
.color-dark {
    color: $color-dark !important;
}
.color-light {
    color: $color-light !important;
}
.black-color {
    color: $color-100;
}
.fb-color {
    color: $fb-color !important;
}
.tw-color {
    color: $twitter-color !important
}
.gplus-color {
    color: $gplus-color !important
}
.linkedin-color {
    color: $linkedin-color !important
}
.theme-default {
    color: $theme-default !important;
}
.theme-1 {
    color: $theme-1 !important;
}
.theme-2 {
    color: $theme-2 !important;
}
.theme-3 {
    color: $theme-3 !important;
}
.theme-4 {
    color: $theme-4 !important;
}
.theme-5 {
    color: $theme-5 !important;
}
.theme-6 {
    color: $theme-6 !important;
}
.theme-7 {
    color: $theme-7 !important;
}
.theme-8 {
    color: $theme-8 !important;
}
.theme-9 {
    color: $theme-9 !important;
}
.theme-10 {
    color: $theme-10 !important;
}
//bg color
.bg-color {
    background-color: $background-color !important;
}
.primary-bg {
    background-color: $primary-color !important;
}
.blue-bg {
    background-color: $blue-color !important;
}
.seagreen-bg {
    background-color: $seagreen-color !important;    
}
.orange-bg {
    background-color: $orange-color !important;    
}
.red-bg {
    background-color: $red-color !important;    
}
.green-bg {
    background-color: $green-color !important;    
}