.table{
	background: $color-white;
	>thead{
		>tr{
			>th{
				@include padding-tb(2px,2px);
				font-weight: 600;
				border-bottom: 1px solid $border-light;
				background: $form-background;
				color: $blue-color;
				white-space: nowrap;
			}
		}
	}
	>tbody{
		>tr{
			>td{
				@include padding-all(3px);
				@include padding-lr(10px,10px);
				white-space: nowrap;
			}
			&.active{
				>td{
					background: $primary-color-50;
					color: $color-white;
					>a{
						color: $color-white;
					}
				}
			}
		}
	}
}
.cart{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    .card-header {
	   @include padding-all-alt(6px,10px)
	    margin-bottom: 0;
	    background-color: #f0f3f5;
	    border: 1px solid #c2cfd6;
	    border-bottom: 0px solid #c2cfd6;
	}
	.card-body, .card-block {
		//@include padding-t(10px);
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    border: 0;
    }
}
.md-button{
	&.md-icon-button {
		@include margin-all(0);
		@include padding-all(0);
	    height: auto;
	    width: auto;
	    min-width: 0;
	    line-height: 24px;
	    border-radius: 50%;
	}	
}
.md-datepicker-input{
	@include padding-all(0);
	font-size: $font-12;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    min-width: 120px;
    max-width: 328px;
}
.md-datepicker-calendar-icon{
	@include margin-l(0);
}
.md-icon-button{
	+.md-datepicker-input-container {
	    margin-left: 5px;
	 }
}
.md-datepicker-input-container{
	width:90%;
	.md-datepicker-input{
		width: 100%;
	}
}
.pagination{
	@include margin-all(0);
	.page-item{
		.page-link{
			@include padding-tb(3px,3px);
		}
	}
}

//panels
.panel {
    @include margin-b(10px);
    border: 1px solid $border-dark;
    border-radius: 0px;
    box-shadow: none;
    .panel-icon {
        color: $color-lighter;
        font-size: $font-14;
        cursor: pointer;
        &.mdi-cursor-move {
            @include padding-r(6px);
        }
    }
    .panel-heading {
        @include padding-all-alt(3px,10px);
        background-color: transparent;
        border-bottom: 1px solid $panel-border;
        border-radius: 0px;
        .panel-title {
            color: $primary-color;
            font-family: $font-medium;
            line-height: 23px;
            font-size: $font-13;
            text-transform: uppercase;
            @include margin-r(10px);
            .panel-checkbox {
                display: inline-block;
                >label {
                    @include padding-r(0px);
                }
            }
        }
        >i {
            @include margin-r(10px);
            cursor: pointer;
        }
        .mdi-cursor-move {
            @include margin-r(0px);
            cursor: move;
        }
    }
    .panel-body {
        @include padding-all-alt(10px,10px);
        &.panel-body-alt {
            @include padding-all-alt(10px,0px);
        }
    }
  }