// imports
@import "fonts";
@import "mixins";
@import "variables";
@import "normalize";
@import "header";
@import "breadcrumb";
@import "buttons";
@import "inputs";
@import "leftnav";
@import "modal";
@import "tables";
@import "dropdown";
@import "signup";


body{
	background: rgb(250,250,250);
	font-family: $font-medium;
    font-size: $font-14;
}
.bug-id{
    line-height: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: $primary-color;
}
.form-group {
    .attatchment{
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        background: #fff;
        //min-height: 100px;
        .sub-text{
            padding-right: 10px;
            float: left;
            font-size:12px;
            line-height: 32px;
        }
        .file-upload{
                margin-top: 4px;
                padding: 0px 10px;
                -webkit-transition: all 200ms ease-in;
                -moz-transition: all 200ms ease-in;
                -o-transition: all 200ms ease-in;
                transition: all 200ms ease-in;
                overflow: hidden;
                position: relative;
                height: 25px;
                line-height: 23px;
                width: auto;
                background-color: #ffffff;
                border: 1px solid #d8d8d8;
                border-radius: 5px;
                color: $primary-color;
                text-align: center;
                display: inline-block;
                float: right;
                font-size: 12px;
        }
        .file-upload [type=file] {
            cursor: inherit;
            display: block;
            font-size: 10px;
            height: 20px;
            width: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
            position: absolute;
            left: 0;
            top: 0;
            text-align: right;
            cursor: pointer;
        }
        .upload-list{
            padding: 0;
            margin: 0;
            clear: both;
            >li{
                list-style: none;
                color: #536c79;
                display: block;
                position: relative;
                >a{
                   position: absolute;
                   right: 5px;
                   top: 0;
                }
            }
        }
    }
}
.mce-container-body{
    display: none;
}
.breadcrumb-menu{
    .btn{
        padding:2px 10px;
        color: #fff;
        font-size: 12px;
        outline: none;
        float: left;
        margin-left: 10px;
    }
}

.nav{
    .nav-item{
        .nav-link{
            font-size: 14px;
        }
    }
}
.padding-0{
    padding: 0px;
}
.padding-0r{
    padding-right: 0px;
}
.list-view{
    .blog{
        width: 12%;
        margin-right:10px;
        float: left;
    }
}
.mdi-delete{
    color: red;
}
.md-focused{
    background-color: #fff;
}
.panel{
    .panel-heading{
        @include padding-all-alt(5px,15px);
    }
}

.bug-description{
    p{
        @include padding-all-alt(10px,15px);
        border: 1px solid $border-light;
        font-size: $font-13; 
        border-radius: 4px;
    }
}
.border-main {
    @include padding-all(10px);
    border: 1px solid $border-light;
    border-bottom: 0px;
    background-color: $color-white;
}
.batch-arrow {
    @include padding-t(10px);
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    >i {
        color: $border-dark;
        font-size: 24px;
    }
}
.batch-actions {
    @include margin-r(5px);
    @include padding-all-alt(2px,15px);
    background-color: $background-color;
    border: 1px solid $border-dark;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
}
.view-group {
    @include margin-all(0px);
    @include padding-all-alt(6px, 6px);
    border-bottom: 1px solid $color-e9;
    .view-heading {
        @include padding-r(25px);
        position: relative;
        color: $color-100;
        font-family: $font-medium;
        font-size: $font-12;
        font-weight: normal;
        text-transform: uppercase;
        text-align: right;
    }
    .view-content {
        color: $blue-color;
        font-family: $font-medium;
        font-size: $font-14;
        font-weight: normal;
        word-break: break-all;
    }
}
.loader-div{    
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    &::before{
        position: absolute;
        content: "";
        width:100%;
        height: 100%;
        background: $color-w50;
    }
    &::after{
        width: 200px;
        height: 200px;
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0;
        right: 0px;
        left: 0;
        margin: auto;
        background-image: url('../images/spinner3.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index:99;
    }
}
md-icon{
    min-height: 16px;
    height: 16px;
    color: $primary-color;
}
.md-button{
    min-height: 16px;
    &.md-focused{
        background: none;
    }
}
.md-datepicker-triangle-button{
    &.md-button{
        &.md-icon-button{
            height: 20px;
        }
    }
}
.md-datepicker-input-container{
    border-bottom: 0;
}
.md-button:not[disabled].md-focused{
    background: none;
}
.md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-color: none;
}
.md-icon-button{
     +.md-datepicker-input-container{
        @include margin-l(0);
    }
}

.description{
    img{
        width: 100%;
        height: 550px;
    }
}
.comments-data{
    font-size: $font-16;
    >p{
        >span{
            color: $color-light;
            font-size: $font-12;
        }
    }
}
.multiselect-parent{
    width: 100%;
    border: 1px solid $border-light;
    border-radius: 4px;
    >button{
        width: 100%;
        &.btn{
            &.btn-default{
                border: 0;
                height: 24px;
                text-align: left;
                @include margin-t(1px);
                background: $color-white;
                box-shadow: none;
                &:hover,&:visited,&:focus{
                    background: $color-white;
                }
            }
            .caret{
                float: right;
                @include margin-t(8px);
            }
        }
    }
}
.angucomplete-dropdown {
    height: 300px;
    overflow-y: auto;
}
@import "media";
