@font-face {
  font-family: "proxima-nova-light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/proxima-nova-light.eot");
  src: url("../fonts/proxima-nova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-light.woff2") format("woff2"), url("../fonts/proxima-nova-light.woff") format("woff"), url("../fonts/proxima-nova-light.ttf") format("truetype"), url("../fonts/proxima-nova-light.svg#proxima-nova-light") format("svg"); }

@font-face {
  font-family: "proxima-nova-regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/proxima-nova-regular.eot");
  src: url("../fonts/proxima-nova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-regular.woff2") format("woff2"), url("../fonts/proxima-nova-regular.woff") format("woff"), url("../fonts/proxima-nova-regular.ttf") format("truetype"), url("../fonts/proxima-nova-regular.svg#proxima-nova-regular") format("svg"); }

@font-face {
  font-family: "proxima-nova-semibold";
  font-weight: semibold;
  font-style: normal;
  src: url("../fonts/proxima-nova-semibold.eot");
  src: url("../fonts/proxima-nova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-semibold.woff2") format("woff2"), url("../fonts/proxima-nova-semibold.woff") format("woff"), url("../fonts/proxima-nova-semibold.ttf") format("truetype"), url("../fonts/proxima-nova-semibold.svg#proxima-nova-semibold") format("svg"); }

@font-face {
  font-family: "proxima-nova-bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/proxima-nova-bold.eot");
  src: url("../fonts/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proxima-nova-bold.woff2") format("woff2"), url("../fonts/proxima-nova-bold.woff") format("woff"), url("../fonts/proxima-nova-bold.ttf") format("truetype"), url("../fonts/proxima-nova-bold.svg#proxima-nova-bold") format("svg"); }

* {
  text-shadow: none;
  font-weight: normal; }

html, body {
  font-family: "proxima-nova-semibold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
  background-color: #ffffff;
  position: relative;
  height: 100%;
  overflow-y: hidden;
  -webkit-font-smoothing: antialiased; }
  html .body-sign, body .body-sign {
    overflow-y: auto; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0px; }

a {
  color: #0288d1;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer; }

a:hover, a:focus {
  color: #0278b8;
  text-decoration: none; }

.height-auto {
  height: auto !important; }

.min-height-auto {
  min-height: auto !important; }

.max-height-auto {
  max-height: auto !important; }

.width-auto {
  width: auto !important; }

.min-width-auto {
  min-width: auto !important; }

.max-width-auto {
  max-width: auto !important; }

.list-inline {
  margin: 0px; }

.position-relative {
  position: relative; }

.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.v-middle {
  vertical-align: middle; }

.word-break {
  word-break: break-all; }

.content-right {
  text-align: right !important; }

.content-left {
  text-align: left !important; }

.min-height-100 {
  min-height: 100px; }

.min-height-150 {
  min-height: 150px; }

.min-height-200 {
  min-height: 200px; }

.min-height-250 {
  min-height: 250px; }

.padding-0 {
  padding: 0px !important; }

.padding-5 {
  padding: 5px !important; }

.padding-10 {
  padding: 10px !important; }

.padding-15 {
  padding: 15px !important; }

.padding-20 {
  padding: 20px !important; }

.padding-0t {
  padding-top: 0px !important; }

.padding-5t {
  padding-top: 5px !important; }

.padding-10t {
  padding-top: 10px !important; }

.padding-15t {
  padding-top: 15px !important; }

.padding-20t {
  padding-top: 20px !important; }

.padding-25t {
  padding-top: 25px !important; }

.padding-30t {
  padding-top: 30px !important; }

.padding-35t {
  padding-top: 35px !important; }

.padding-40t {
  padding-top: 40px !important; }

.padding-100t {
  padding-top: 100px !important; }

.padding-0b {
  padding-bottom: 0px !important; }

.padding-5b {
  padding-bottom: 5px !important; }

.padding-10b {
  padding-bottom: 10px !important; }

.padding-15b {
  padding-bottom: 15px !important; }

.padding-20b {
  padding-bottom: 20px !important; }

.padding-25b {
  padding-bottom: 25px !important; }

.padding-30b {
  padding-bottom: 30px !important; }

.padding-0r {
  padding-right: 0px !important; }

.padding-5r {
  padding-right: 5px !important; }

.padding-10r {
  padding-right: 10px !important; }

.padding-15r {
  padding-right: 15px !important; }

.padding-20r {
  padding-right: 20px !important; }

.padding-25r {
  padding-right: 25px !important; }

.padding-30r {
  padding-right: 30px !important; }

.padding-0l {
  padding-left: 0px !important; }

.padding-5l {
  padding-left: 5px !important; }

.padding-10l {
  padding-left: 10px !important; }

.padding-15l {
  padding-left: 15px !important; }

.padding-20l {
  padding-left: 20px !important; }

.padding-25l {
  padding-left: 25px !important; }

.padding-30l {
  padding-left: 30px !important; }

.margin-0 {
  margin: 0px !important; }

.margin-5 {
  margin: 5px !important; }

.margin-10 {
  margin: 10px !important; }

.margin-15 {
  margin: 15px !important; }

.margin-20 {
  margin: 20px !important; }

.margin-0t {
  margin-top: 0px !important; }

.margin-5t {
  margin-top: 5px !important; }

.margin-10t {
  margin-top: 10px !important; }

.margin-15t {
  margin-top: 15px !important; }

.margin-17t {
  margin-top: 17px !important; }

.margin-20t {
  margin-top: 20px !important; }

.margin-25t {
  margin-top: 25px !important; }

.margin-30t {
  margin-top: 30px !important; }

.margin-0b {
  margin-bottom: 0px !important; }

.margin-5b {
  margin-bottom: 5px !important; }

.margin-10b {
  margin-bottom: 10px !important; }

.margin-15b {
  margin-bottom: 15px !important; }

.margin-20b {
  margin-bottom: 20px !important; }

.margin-25b {
  margin-bottom: 25px !important; }

.margin-30b {
  margin-bottom: 30px !important; }

.margin-0r {
  margin-right: 0px !important; }

.margin-5r {
  margin-right: 5px !important; }

.margin-10r {
  margin-right: 10px !important; }

.margin-15r {
  margin-right: 15px !important; }

.margin-20r {
  margin-right: 20px !important; }

.margin-25r {
  margin-right: 25px !important; }

.margin-30r {
  margin-right: 30px !important; }

.margin-0l {
  margin-left: 0px !important; }

.margin-5l {
  margin-left: 5px !important; }

.margin-10l {
  margin-left: 10px !important; }

.margin-15l {
  margin-left: 15px !important; }

.margin-20l {
  margin-left: 20px !important; }

.margin-25l {
  margin-left: 25px !important; }

.margin-30l {
  margin-left: 30px !important; }

.border-0 {
  border: 0px !important; }

.border-0t {
  border-top: 0px !important; }

.border-0b {
  border-bottom: 0px !important; }

.border-0r {
  border-right: 0px !important; }

.border-0l {
  border-left: 0px !important; }

.border-light {
  border: 1px solid #d8d8d8;
  display: table;
  width: 100%; }

.primary-color {
  color: #186bb7 !important; }

.blue-color {
  color: #0288d1 !important; }

.seagreen-color {
  color: #07cdbe !important; }

.orange-color {
  color: #f39c12 !important; }

.red-color {
  color: #d21c15 !important; }

.green-color {
  color: #2ecc71 !important; }

.white-color {
  color: #ffffff !important; }

.color-dark {
  color: #464a4d !important; }

.color-light {
  color: #6f7477 !important; }

.black-color {
  color: black; }

.fb-color {
  color: #3b5998 !important; }

.tw-color {
  color: #1da1f2 !important; }

.gplus-color {
  color: #dd4b39 !important; }

.linkedin-color {
  color: #0077b5 !important; }

.theme-default {
  color: #46a4c6 !important; }

.theme-1 {
  color: #2980b9 !important; }

.theme-2 {
  color: #27ae60 !important; }

.theme-3 {
  color: #16a085 !important; }

.theme-4 {
  color: #8e44ad !important; }

.theme-5 {
  color: #2c3e50 !important; }

.theme-6 {
  color: #f39c12 !important; }

.theme-7 {
  color: #d35400 !important; }

.theme-8 {
  color: #c0392b !important; }

.theme-9 {
  color: #bdc3c7 !important; }

.theme-10 {
  color: #7f8c8d !important; }

.bg-color {
  background-color: #f0f3f6 !important; }

.primary-bg {
  background-color: #186bb7 !important; }

.blue-bg {
  background-color: #0288d1 !important; }

.seagreen-bg {
  background-color: #07cdbe !important; }

.orange-bg {
  background-color: #f39c12 !important; }

.red-bg {
  background-color: #d21c15 !important; }

.green-bg {
  background-color: #2ecc71 !important; }

.app, app-dashboard, app-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.header-fixed .app-header {
  position: fixed;
  z-index: 1020;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55px;
  -ms-flex: 0 0 55px;
  flex: 0 0 55px; }
  .header-fixed .app-header.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #c2cfd6; }
    .header-fixed .app-header.navbar .navbar-brand {
      display: inline-block;
      width: 155px;
      height: 48px;
      padding: 0.5rem 1rem;
      margin-right: 0;
      background-color: #fff;
      background-image: url(../images/logo.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 130px auto; }
    .header-fixed .app-header.navbar .dropdown-menu {
      padding-bottom: 0;
      line-height: 1.5;
      float: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 10rem;
      padding: 0 0;
      margin: 0.125rem 0 0;
      font-size: 0.875rem;
      color: #151b1e;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #c2cfd6;
      font-size: 14px; }
      .header-fixed .app-header.navbar .dropdown-menu .dropdown-header {
        padding: 8px 20px;
        background: #f0f3f5;
        border-bottom: 1px solid #c2cfd6;
        display: block;
        margin-bottom: 0;
        font-size: 0.875rem;
        color: #536c79;
        white-space: nowrap; }
      .header-fixed .app-header.navbar .dropdown-menu .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: normal;
        color: #151b1e;
        text-align: inherit;
        white-space: nowrap;
        background: none;
        position: relative;
        padding: 10px 20px;
        border-bottom: 1px solid #c2cfd6;
        min-width: 150px; }
        .header-fixed .app-header.navbar .dropdown-menu .dropdown-item:hover {
          background: #f0f3f6; }
    .header-fixed .app-header.navbar .navbar-toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background: transparent;
      border: 1px solid transparent; }
    .header-fixed .app-header.navbar .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .header-fixed .app-header.navbar .navbar-nav .dropdown-toggle {
        padding-left: 0px;
        padding-right: 0px; }
      .header-fixed .app-header.navbar .navbar-nav .dropdown-menu-right {
        position: absolute;
        top: 48px;
        right: 15px;
        left: auto; }
    .header-fixed .app-header.navbar .ml-auto {
      float: right; }
    .header-fixed .app-header.navbar .nav-item {
      padding-right: 20px;
      position: relative;
      min-width: 50px;
      text-align: center; }
      .header-fixed .app-header.navbar .nav-item .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
        background: 0;
        border: 0;
        font-size: 14px;
        color: #536c79;
        display: block; }
        .header-fixed .app-header.navbar .nav-item .nav-link.dropdown-toggle {
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 0;
          padding-left: 0;
          background: 0;
          border: 0;
          color: #536c79;
          disply: block; }
          .header-fixed .app-header.navbar .nav-item .nav-link.dropdown-toggle::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-left: 0.3em solid transparent; }
      .header-fixed .app-header.navbar .nav-item .btn {
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 10px; }
    .header-fixed .app-header.navbar .img-avatar {
      width: 35px;
      height: 35px;
      margin: 10px 10px;
      border-radius: 100%; }
    .header-fixed .app-header.navbar .px-3 {
      padding-right: 1rem !important;
      padding-left: 1rem !important;
      margin-top: 17px; }
    .header-fixed .app-header.navbar .sidebar-toggler {
      float: left;
      line-height: 45px;
      font-size: 24px;
      outline: none; }
    .header-fixed .app-header.navbar .dropdown-toggle {
      display: block; }

.app-header, .app-footer, .sidebar, .main, .aside-menu {
  -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
  -o-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -ms-flex 0.25s;
  transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s, -ms-flex 0.25s; }

.aside-menu-fixed.aside-menu-hidden .main, .aside-menu-fixed.aside-menu-hidden .app-footer {
  width: 100%;
  display: block;
  margin-right: 0;
  margin-left: 200px; }
  .aside-menu-fixed.aside-menu-hidden .main .breadcrumb, .aside-menu-fixed.aside-menu-hidden .app-footer .breadcrumb {
    position: fixed;
    width: 100%;
    top: 50px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c2cfd6;
    -webkit-transition: left 0.25s, right 0.25s, width 0.25s;
    -o-transition: left 0.25s, right 0.25s, width 0.25s;
    transition: left 0.25s, right 0.25s, width 0.25s;
    padding: 10px;
    list-style: none;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0;
    z-index: 999; }
    .aside-menu-fixed.aside-menu-hidden .main .breadcrumb .breadcrumb-item, .aside-menu-fixed.aside-menu-hidden .app-footer .breadcrumb .breadcrumb-item {
      float: left; }
    .aside-menu-fixed.aside-menu-hidden .main .breadcrumb > li.d-md-down-none, .aside-menu-fixed.aside-menu-hidden .app-footer .breadcrumb > li.d-md-down-none {
      position: absolute;
      right: 220px;
      top: 2px; }
      .aside-menu-fixed.aside-menu-hidden .main .breadcrumb > li.d-md-down-none::before, .aside-menu-fixed.aside-menu-hidden .app-footer .breadcrumb > li.d-md-down-none::before {
        content: ""; }

.aside-menu-fixed.aside-menu-hidden.sidebar-hidden .main .breadcrumb > li:last-child, .aside-menu-fixed.aside-menu-hidden.sidebar-hidden .app-footer .breadcrumb > li:last-child {
  position: absolute;
  right: 20px;
  top: 2px; }
  .aside-menu-fixed.aside-menu-hidden.sidebar-hidden .main .breadcrumb > li:last-child::before, .aside-menu-fixed.aside-menu-hidden.sidebar-hidden .app-footer .breadcrumb > li:last-child::before {
    content: ""; }

.animated {
  margin-top: 45px;
  background: #fafafa; }

.btn {
  padding: 2px 6px;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  font-size: 14px; }
  .btn:hover, .btn:focus, .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important; }
  .btn.btn-default {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    color: #6f7477; }
    .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
      border-color: #f2f2f2;
      background-color: #f2f2f2; }
  .btn.btn-primary {
    border: 1px solid #186bb7;
    background-color: #186bb7;
    color: #ffffff; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
      border-color: #155ea0;
      background-color: #155ea0; }
  .btn.btn-info {
    border: 1px solid #07cdbe;
    background-color: #07cdbe;
    color: #ffffff; }
    .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active {
      border-color: #06b4a7;
      background-color: #06b4a7; }
  .btn.btn-success {
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    color: #ffffff; }
    .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active {
      border-color: #29b765;
      background-color: #29b765; }
  .btn.btn-warning {
    border: 1px solid #f39c12;
    background-color: #f39c12;
    color: #ffffff; }
    .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active {
      border-color: #e08e0b;
      background-color: #e08e0b; }
  .btn.btn-danger {
    border: 1px solid #d21c15;
    background-color: #d21c15;
    color: #ffffff; }
    .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active {
      border-color: #bb1913;
      background-color: #bb1913; }
  .btn.btn-attach {
    padding: 0px 6px;
    color: #186bb7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff; }
    .btn.btn-attach:hover, .btn.btn-attach:focus, .btn.btn-attach:active {
      border-color: rgba(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.15); }
  .btn.btn-sm {
    padding: 1px 3px;
    font-size: 12px; }
  .btn.btn-lg {
    padding: 6px 18px;
    font-size: 16px; }
  .btn.btn-outline {
    background-color: transparent; }
    .btn.btn-outline.btn-default {
      border: 1px solid #d8d8d8;
      background-color: transparent;
      color: #6f7477; }
      .btn.btn-outline.btn-default:hover, .btn.btn-outline.btn-default:focus, .btn.btn-outline.btn-default:active {
        background-color: #ffffff;
        color: #464a4d; }
    .btn.btn-outline.btn-primary {
      border: 1px solid #186bb7;
      background-color: transparent;
      color: #186bb7; }
      .btn.btn-outline.btn-primary:hover, .btn.btn-outline.btn-primary:focus, .btn.btn-outline.btn-primary:active {
        background-color: #186bb7;
        color: #ffffff; }
    .btn.btn-outline.btn-info {
      border: 1px solid #07cdbe;
      background-color: transparent;
      color: #07cdbe; }
      .btn.btn-outline.btn-info:hover, .btn.btn-outline.btn-info:focus, .btn.btn-outline.btn-info:active {
        background-color: #07cdbe;
        color: #ffffff; }
    .btn.btn-outline.btn-success {
      border: 1px solid #2ecc71;
      background-color: transparent;
      color: #2ecc71; }
      .btn.btn-outline.btn-success:hover, .btn.btn-outline.btn-success:focus, .btn.btn-outline.btn-success:active {
        background-color: #2ecc71;
        color: #ffffff; }
    .btn.btn-outline.btn-warning {
      border: 1px solid #f39c12;
      background-color: transparent;
      color: #f39c12; }
      .btn.btn-outline.btn-warning:hover, .btn.btn-outline.btn-warning:focus, .btn.btn-outline.btn-warning:active {
        background-color: #f39c12;
        color: #ffffff; }
    .btn.btn-outline.btn-danger {
      border: 1px solid #d21c15;
      background-color: transparent;
      color: #d21c15; }
      .btn.btn-outline.btn-danger:hover, .btn.btn-outline.btn-danger:focus, .btn.btn-outline.btn-danger:active {
        background-color: #d21c15;
        color: #ffffff; }
    .btn.btn-outline.btn-attach {
      margin-top: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      color: #186bb7;
      font-size: 11px; }
      .btn.btn-outline.btn-attach:hover, .btn.btn-outline.btn-attach:focus, .btn.btn-outline.btn-attach:active {
        background-color: rgba(0, 0, 0, 0.2);
        color: #ffffff; }

.btn-default-text {
  margin: 2px 6px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #6f7477;
  font-size: 14px; }
  .btn-default-text:hover, .btn-default-text:focus, .btn-default-text:active {
    color: #6f7477;
    outline: 0;
    border-bottom: 1px solid #d8d8d8; }

.btn-primary-text {
  margin: 2px 6px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #186bb7;
  font-size: 14px; }
  .btn-primary-text:hover, .btn-primary-text:focus, .btn-primary-text:active {
    color: #186bb7;
    outline: 0;
    border-bottom: 1px solid #186bb7; }

.btn-info-text {
  margin: 2px 6px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #07cdbe;
  font-size: 14px; }
  .btn-info-text:hover, .btn-info-text:focus, .btn-info-text:active {
    color: #07cdbe;
    outline: 0;
    border-bottom: 1px solid #07cdbe; }

.btn-success-text {
  margin: 2px 6px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #2ecc71;
  font-size: 14px; }
  .btn-success-text:hover, .btn-success-text:focus, .btn-success-text:active {
    color: #2ecc71;
    outline: 0;
    border-bottom: 1px solid #2ecc71; }

.btn-warning-text {
  margin: 2px 6px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #f39c12;
  font-size: 14px; }
  .btn-warning-text:hover, .btn-warning-text:focus, .btn-warning-text:active {
    color: #f39c12;
    outline: 0;
    border-bottom: 1px solid #f39c12; }

.btn-danger-text {
  margin: 2px 6px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: #d21c15;
  font-size: 14px; }
  .btn-danger-text:hover, .btn-danger-text:focus, .btn-danger-text:active {
    color: #d21c15;
    outline: 0;
    border-bottom: 1px solid #d21c15; }

.login-btn {
  min-width: 150px; }

.bugsListFilter .btn {
  padding: 0px 5px;
  height: 26px; }

.form-group {
  margin-bottom: 10px; }
  .form-group .form-control {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 26px;
    padding: 0px 10px; }
    .form-group .form-controltextarea {
      min-height: 40px !important; }
    .form-group .form-control.form-rounded {
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 30px; }
  .form-group textarea {
    min-height: 70px; }
  .form-group .form-label {
    margin: 0;
    font-weight: normal;
    color: #6f7477;
    line-height: 26px; }
  .form-group .custom-checkbox {
    position: absolute;
    display: none; }
    .form-group .custom-checkbox + label {
      position: relative;
      display: inline-block;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
      vertical-align: middle;
      height: 26px;
      line-height: 24px;
      color: #6f7477; }
      .form-group .custom-checkbox + label:hover:before {
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: hover-color;
        animation-name: hover-color; }
      .form-group .custom-checkbox + label:before {
        position: absolute;
        top: 0px;
        left: 0;
        display: inline-block;
        width: 16px;
        height: 16px;
        content: '';
        border: 1px solid #d8d8d8;
        background-color: #f8f9fc; }
      .form-group .custom-checkbox + label:after {
        position: absolute;
        display: none;
        content: ''; }
      .form-group .custom-checkbox + label.cr-auto {
        height: auto;
        display: inline; }
        .form-group .custom-checkbox + label.cr-auto:before {
          top: 0; }
        .form-group .custom-checkbox + label.cr-auto:after {
          top: 0px; }

.custom-checkbox:checked + label:before {
  -webkit-animation-name: none;
  animation-name: none; }

.custom-checkbox:checked + label:after {
  display: block; }

.custom-checkbox:indeterminate + label:before {
  border-color: #186bb7;
  content: "-";
  color: #186bb7;
  font-size: 26px;
  text-align: center; }

.custom-checkbox + label:before {
  border-radius: 3px;
  top: 4px; }

.custom-checkbox + label:after {
  top: 4px;
  left: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 6px;
  height: 12px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  border-top: 0;
  border-left: 0; }

.custom-checkbox:checked + label:before {
  border: #186bb7;
  background: #186bb7; }

.form-horizontal .checkbox {
  padding-top: 3px; }

.form-horizontal .form-control {
  margin: 0; }

.default-project {
  padding: 3px 8px;
  display: inline-block;
  height: 25px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .default-project:focus {
    outline: none; }

.view-title {
  color: #6f7477; }

.alert {
  padding: 5px;
  margin-top: 10px; }

.header-fixed .app-body {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  overflow-x: hidden; }

.header-fixed.sidebar-fixed {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }
  .header-fixed.sidebar-fixed .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s;
    -o-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    -webkit-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, -webkit-box-flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -ms-flex 0.25s;
    transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s, -webkit-box-flex 0.25s, -webkit-flex 0.25s, -ms-flex 0.25s;
    padding: 0;
    overflow: hidden;
    color: #fff;
    background: #0288d1; }
    .header-fixed.sidebar-fixed .sidebar .sidebar-nav {
      height: calc(100vh - 55px);
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      width: 200px; }
    .header-fixed.sidebar-fixed .sidebar .nav {
      width: 200px;
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important; }
      .header-fixed.sidebar-fixed .sidebar .nav .nav-item {
        position: relative;
        margin: 0;
        -webkit-transition: background .3s ease-in-out;
        -o-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out; }
        .header-fixed.sidebar-fixed .sidebar .nav .nav-item .nav-link {
          display: block;
          padding: 0.75rem 1rem;
          color: #fff;
          text-decoration: none;
          background: transparent;
          font-size: 16px; }
          .header-fixed.sidebar-fixed .sidebar .nav .nav-item .nav-link:hover {
            color: #fff !important;
            background: #20a8d8 !important; }
        .header-fixed.sidebar-fixed .sidebar .nav .nav-item.active {
          color: #fff !important;
          background: #20a8d8 !important; }
  .header-fixed.sidebar-fixed.sidebar-hidden .main, .header-fixed.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0; }

.sidebar-hidden .sidebar {
  margin-left: -200px; }

.modal .modal-header, .modal modal-footer {
  padding-top: 5px;
  padding-bottom: 5px; }

.modal .modal-header {
  color: #186bb7;
  background: #f8f9fc;
  border-radius: 4px 4px 0 0; }

.alert {
  padding: 6px 6px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 0px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: table;
  width: 30%;
  height: 42px;
  color: #6f7477;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 99999; }
  .alert > a {
    position: absolute;
    right: 8px;
    top: 8px; }
    .alert > a > i {
      color: #ffffff; }
  .alert > span {
    display: block;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    text-align: center; }
  .alert.alert-info {
    color: #ffffff;
    background-color: rgba(2, 136, 209, 0.9); }
  .alert.alert-success {
    color: #ffffff;
    background-color: rgba(46, 204, 113, 0.9); }
  .alert.alert-warning {
    color: #ffffff;
    background-color: rgba(243, 156, 18, 0.9); }
  .alert.alert-danger {
    color: #ffffff;
    background-color: rgba(210, 28, 21, 0.9); }

.full-screen-popup {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9997;
  overflow-y: hidden; }

.popup-content {
  width: -moz-calc(100% - 100px);
  width: -webkit-calc(100% - 100px);
  width: -o-calc(100% - 100px);
  width: calc(100% - 100px);
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9998;
  background-color: #ffffff;
  height: 100%; }
  .popup-content .popup-header {
    padding: 10px;
    height: 43px;
    background: #186bb7;
    color: #ffffff;
    font-size: 15px;
    font-family: "proxima-nova-semibold", "Helvetica Neue", "Arial", sans-serif;
    text-transform: uppercase;
    line-height: 20px;
    display: table;
    width: 100%; }
    .popup-content .popup-header .popup-close {
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
      padding-top: 8px;
      position: fixed;
      left: 20px;
      top: 5px;
      height: 36px;
      width: 36px;
      background-color: #ffffff;
      border-radius: 50%;
      display: block;
      color: #d21c15;
      font-size: 26px;
      vertical-align: middle;
      text-align: center; }
      .popup-content .popup-header .popup-close:hover {
        background-color: #d21c15;
        color: #ffffff; }
    .popup-content .popup-header .popup-breadcrumb > span > i {
      color: #464a4d; }
    .popup-content .popup-header .popup-breadcrumb .popup-breadcrumb-title {
      color: #6f7477; }
      .popup-content .popup-header .popup-breadcrumb .popup-breadcrumb-title.active {
        color: #186bb7; }
  .popup-content .popup-body {
    padding: 10px;
    height: -moz-calc(100% - 135px);
    height: -webkit-calc(100% - 135px);
    height: -o-calc(100% - 135px);
    height: calc(100% - 135px);
    overflow-y: auto;
    position: relative; }
    .popup-content .popup-body .resume-preview {
      border: 1px solid #d8d8d8;
      border-radius: 4px; }
    .popup-content .popup-body .coment-container {
      position: absolute;
      bottom: 0; }
    .popup-content .popup-body .comments-data {
      margin-bottom: 80px; }
  .popup-content .popup-footer {
    padding: 15px 10px;
    background-color: #f0f3f6;
    border-top: 1px solid #d8d8d8;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    display: block;
    z-index: 9; }

.full-screen-popup-alt {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999;
  overflow-y: hidden; }
  .full-screen-popup-alt.dark-transparent {
    min-height: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.55);
    overflow-y: auto; }

.search-full {
  padding-top: 8%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999; }
  .search-full .search-pop-close {
    padding: 1px 3px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #d21c15;
    color: #ffffff;
    font-size: 18px; }

.modal-timezone-popup {
  width: 450px; }

.table {
  background: #ffffff; }
  .table > thead > tr > th {
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 600;
    border-bottom: 1px solid #d8d8d8;
    background: #f8f9fc;
    color: #0288d1;
    white-space: nowrap; }
  .table > tbody > tr > td {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap; }
  .table > tbody > tr.active > td {
    background: rgba(13, 162, 192, 0.5);
    color: #ffffff; }
    .table > tbody > tr.active > td > a {
      color: #ffffff; }

.cart {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box; }
  .cart .card-header {
    padding: 6px 10px;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border: 1px solid #c2cfd6;
    border-bottom: 0px solid #c2cfd6; }
  .cart .card-body, .cart .card-block {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    border: 0; }

.md-button.md-icon-button {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  min-width: 0;
  line-height: 24px;
  border-radius: 50%; }

.md-datepicker-input {
  padding: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  min-width: 120px;
  max-width: 328px; }

.md-datepicker-calendar-icon {
  margin-left: 0; }

.md-icon-button + .md-datepicker-input-container {
  margin-left: 5px; }

.md-datepicker-input-container {
  width: 90%; }
  .md-datepicker-input-container .md-datepicker-input {
    width: 100%; }

.pagination {
  margin: 0; }
  .pagination .page-item .page-link {
    padding-top: 3px;
    padding-bottom: 3px; }

.panel {
  margin-bottom: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel .panel-icon {
    color: #9fa9b7;
    font-size: 14px;
    cursor: pointer; }
    .panel .panel-icon.mdi-cursor-move {
      padding-right: 6px; }
  .panel .panel-heading {
    padding: 3px 10px;
    background-color: transparent;
    border-bottom: 1px solid #86c1f7;
    border-radius: 0px; }
    .panel .panel-heading .panel-title {
      color: #186bb7;
      font-family: "proxima-nova-semibold", "Helvetica Neue", "Arial", sans-serif;
      line-height: 23px;
      font-size: 13px;
      text-transform: uppercase;
      margin-right: 10px; }
      .panel .panel-heading .panel-title .panel-checkbox {
        display: inline-block; }
        .panel .panel-heading .panel-title .panel-checkbox > label {
          padding-right: 0px; }
    .panel .panel-heading > i {
      margin-right: 10px;
      cursor: pointer; }
    .panel .panel-heading .mdi-cursor-move {
      margin-right: 0px;
      cursor: move; }
  .panel .panel-body {
    padding: 10px 10px; }
    .panel .panel-body.panel-body-alt {
      padding: 10px 0px; }

.dropup, .dropdown {
  position: relative;
  font-size: 14px; }
  .dropup.open .dropdown-menu, .dropdown.open .dropdown-menu {
    display: block !important; }
    .dropup.open .dropdown-menu .dropdown-header, .dropdown.open .dropdown-menu .dropdown-header {
      padding: 8px 20px; }

.app-header .navbar .dropdown-menu {
  padding-bottom: 0;
  line-height: 1.5; }

.app-header .navbar-nav .dropdown-menu {
  position: absolute;
  float: none; }

.app-header .navbar-nav .dropdown-menu-right {
  right: 0;
  left: auto; }

.main-body {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .main-body .signup-container {
    position: absolute;
    margin: 60px 100px;
    width: calc(100% - 200px);
    height: calc(100% - 120px);
    border-radius: 4px; }
    .main-body .signup-container .background-image {
      width: 100%;
      height: 100%;
      background: url(../images/signup/side-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 4px 0 0 4px; }
      .main-body .signup-container .background-image .background-content {
        padding: 50px 20px; }
        .main-body .signup-container .background-image .background-content > h2 {
          color: #464a4d; }
    .main-body .signup-container .signup {
      margin-top: 50px;
      position: relative;
      width: 100%;
      background: #ffffff;
      -webkit-box-shadow: 0 0 4px #6f7477;
      box-shadow: 0 0 4px #6f7477;
      border-radius: 5px; }
      .main-body .signup-container .signup .signup-title {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #d8d8d8;
        background: #f8f9fc;
        border-radius: 5px 5px 0 0; }
      .main-body .signup-container .signup .signup-form {
        padding: 20px 30px;
        margin-top: 20px; }
        .main-body .signup-container .signup .signup-form .form-group {
          margin-bottom: 10px; }
          .main-body .signup-container .signup .signup-form .form-group .form-control {
            border: none;
            background: none;
            border-radius: 0;
            border-bottom: 1px solid #d8d8d8; }

body {
  background: #fafafa;
  font-family: "proxima-nova-semibold", "Helvetica Neue", "Arial", sans-serif;
  font-size: 14px; }

.bug-id {
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: #186bb7; }

.form-group .attatchment {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background: #fff; }
  .form-group .attatchment .sub-text {
    padding-right: 10px;
    float: left;
    font-size: 12px;
    line-height: 32px; }
  .form-group .attatchment .file-upload {
    margin-top: 4px;
    padding: 0px 10px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    overflow: hidden;
    position: relative;
    height: 25px;
    line-height: 23px;
    width: auto;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #186bb7;
    text-align: center;
    display: inline-block;
    float: right;
    font-size: 12px; }
  .form-group .attatchment .file-upload [type=file] {
    cursor: inherit;
    display: block;
    font-size: 10px;
    height: 20px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 0;
    top: 0;
    text-align: right;
    cursor: pointer; }
  .form-group .attatchment .upload-list {
    padding: 0;
    margin: 0;
    clear: both; }
    .form-group .attatchment .upload-list > li {
      list-style: none;
      color: #536c79;
      display: block;
      position: relative; }
      .form-group .attatchment .upload-list > li > a {
        position: absolute;
        right: 5px;
        top: 0; }

.mce-container-body {
  display: none; }

.breadcrumb-menu .btn {
  padding: 2px 10px;
  color: #fff;
  font-size: 12px;
  outline: none;
  float: left;
  margin-left: 10px; }

.nav .nav-item .nav-link {
  font-size: 14px; }

.padding-0 {
  padding: 0px; }

.padding-0r {
  padding-right: 0px; }

.list-view .blog {
  width: 12%;
  margin-right: 10px;
  float: left; }

.mdi-delete {
  color: red; }

.md-focused {
  background-color: #fff; }

.panel .panel-heading {
  padding: 5px 15px; }

.bug-description p {
  padding: 10px 15px;
  border: 1px solid #d8d8d8;
  font-size: 13px;
  border-radius: 4px; }

.border-main {
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-bottom: 0px;
  background-color: #ffffff; }

.batch-arrow {
  padding-top: 10px;
  display: inline-block;
  line-height: 0;
  vertical-align: middle; }
  .batch-arrow > i {
    color: #bdbdbd;
    font-size: 24px; }

.batch-actions {
  margin-right: 5px;
  padding: 2px 15px;
  background-color: #f0f3f6;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle; }

.view-group {
  margin: 0px;
  padding: 6px 6px;
  border-bottom: 1px solid #e9e9e9; }
  .view-group .view-heading {
    padding-right: 25px;
    position: relative;
    color: black;
    font-family: "proxima-nova-semibold", "Helvetica Neue", "Arial", sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: right; }
  .view-group .view-content {
    color: #0288d1;
    font-family: "proxima-nova-semibold", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    word-break: break-all; }

.loader-div {
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999; }
  .loader-div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); }
  .loader-div::after {
    width: 200px;
    height: 200px;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    left: 0;
    margin: auto;
    background-image: url("../images/spinner3.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 99; }

md-icon {
  min-height: 16px;
  height: 16px;
  color: #186bb7; }

.md-button {
  min-height: 16px; }
  .md-button.md-focused {
    background: none; }

.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 20px; }

.md-datepicker-input-container {
  border-bottom: 0; }

.md-button:not[disabled].md-focused {
  background: none; }

.md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-color: none; }

.md-icon-button + .md-datepicker-input-container {
  margin-left: 0; }

.description img {
  width: 100%;
  height: 550px; }

.comments-data {
  font-size: 16px; }
  .comments-data > p > span {
    color: #6f7477;
    font-size: 12px; }

.multiselect-parent {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-radius: 4px; }
  .multiselect-parent > button {
    width: 100%; }
    .multiselect-parent > button.btn.btn-default {
      border: 0;
      height: 24px;
      text-align: left;
      margin-top: 1px;
      background: #ffffff;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .multiselect-parent > button.btn.btn-default:hover, .multiselect-parent > button.btn.btn-default:visited, .multiselect-parent > button.btn.btn-default:focus {
        background: #ffffff; }
    .multiselect-parent > button.btn .caret {
      float: right;
      margin-top: 8px; }

.angucomplete-dropdown {
  height: 300px;
  overflow-y: auto; }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; } }
